<header class="m-10">
  <button class="btn btn-primary" routerLink="/list"> &larr; Back to Pokemon list</button>
</header>

<div *ngIf="!noPokemon; else noPokemonView">

  <h2 class="text-center">
    <button class="btn btn-default"><a *ngIf="id>1" routerLink="/list/{{id-1}}"> &lt; </a></button>
    {{pokemon.name}}
    <button class="btn btn-default"><a routerLink="/list/{{id+1}}">&gt;</a></button>
  </h2>

  <div class="row">
    <div class="col-md-12 text-center">
      <img [src]="pokemon.sprites.front_default" height=100 width=100>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex stat-wrapper">
      <div class="m-10 m-r-20" *ngFor="let stat of pokemon.stats">
        <h5>{{stat.stat.name}}</h5>
        <h6>effort: {{stat.effort}}</h6>
        <h6>base stat: {{stat.base_stat}}</h6>
      </div>
    </div>

  </div>
</div>
<ng-template #noPokemonView>
  <p class="text-center"> There is no Pokemon with given id!</p>
</ng-template>